# Gitignore file for EcoCars hk report
# Ignore Vim swap files
*.swp

# Latex files
*.aux
*.log
*.out
*.fls
*.dvi
*.toc
*.idx
*.bbl
*.blg

# Latexmk files
*.gz
*.fbd_latexmk

# To avoid merge crashes
*.pdf
